<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Post</title>
    <link rel="stylesheet" href="post.css">
</head>
<body>
    <section class="dashboard">
        <div class="main">
            <div class="main-container">
                <% current_post.forEach(element => { %>
                <div class="posts">
                    <div class="title">
                    <p name="id">Blog <%= element.id %></p>
                    <p name="title"><%= element.title %></p>
                    </div>
                    <div class="content">
                    <p name="content"> <%= element.content %></p>
                    </div>
                </div>
                <div class="edit">
                    <form action="/edit/<%= element.id %>" class="edit-form">
                        <button class="edit-btn">Edit</button>
                    </form>
                </div>
                <div class="delete">
                    <form action="/delete/<%= element.id %>" class="delete-form">
                        <button class="delete-btn">Delete</button>
                    </form>
                </div>
                <% }) %>
            </div>
        </div>
    </section>

    <div class="bot-nav">
        <div class="bot-nav-container">

        </div>
    </div>
    
    <script src="main.js" type="script/javascript"></script>
</body>
</html>